<h1>About</h1>

<p>
	This web app will help you find songs you may have heard on the radio, in the store, amusment park.... 
	Where ever. All you have to do is type the lyrics 
	(you remember) in the search bar and we'll pull up the songs that match.

	Also this is a 
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	project to teach.
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month. This is a small project.
</p>

