<div class="hero-unit">
	<h1>Welcome to songFind<span>r</span>!</h1>
	<p class="disc text">
	You've just discovered a new way to find your music.
	</p>
	<p>
		<%= link_to "Start searching now!", "#", class: "btn btn-primary btn large" %>
		or
		<%= link_to "Sign Up!", "#", class: "btn btn-secondary btn large" %>
	</p>
</div>


